{{ define "main" }}
  <h2>{{ .Title }}</h2>
  {{ .Content }}

{{/* generate brief list with anchor links */}}
<h3>Contents</h3>
<ul>
{{- range $figure := sort .Params.figures -}}
<li><a href="#{{ $figure.id }}">{{ with $figure.number }}Figure {{ . }}.{{ end }} {{ $figure.title }} </a></li>
{{- end -}}
</ul>

<hr/>

{{/* display figures */}}
{{ partial "figure/styles.css" . }} {{/* include styles for display on this page */}}

{{- range $figure := .Params.figures -}}
<div id="{{ $figure.id }}">
  <h3>{{ $figure.title }}</h3>
  {{ partial "figure/iframe.html" (dict "figureId" $figure.id "props" $figure "baseurl" $.Site.BaseURL ) }}
</div>
{{- end -}}

<hr/>
<details id="embed">
  <summary>How to embed {{ if eq 1 (len (.Params.figures)) }} this figure {{ else }} these figures{{ end }}</summary>
  {{ $css := partial "figure/styles.css" . }} {{/* styles for display when embedding; output as string */}}
  {{ transform.Highlight (printf "%s\n" $css ) "css" }}

{{- range $figure := .Params.figures  -}}
{{- $iframe := partial "figure/iframe.html" (dict "figureId" $figure.id "props" $figure "baseurl" $.Site.BaseURL ) -}}
  {{ transform.Highlight ( printf "%s\n" $iframe ) "html" }}
{{- end -}}

<hr/>
<div>
{{- range $figure := .Params.figures -}}
    <p><a href="{{ $.Site.BaseURL }}{{ $figure.src }}">view embed : {{ $figure.title }} </a></p>
  {{- end -}}
</div>
</details>


{{ end }}{{/* end main section */}}



